@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

#larger-number, #smaller-number{
  background-color: #F2DEDE;
  color: #A94442;
}



.list-group-item{
  border-bottom: 1px solid black;
}

.list-group-flush>.list-group-item:last-child  {
  border-bottom-width: 1px;
}


.dropdown-toggle {
  background-color: #E6E6E6;
  border: 1px solid #CCCCCC;
  color: black;
}

.dropdown-menu {
  padding: 0; 
}

.dropdown-item {
  border:0.5px solid #CCCCCC;
}